.warp {
  width: 100%;
  height: 800px;
  margin: 10px 8px 0 8px;
}
.left {
  width: 68%;
  height: 700px;
  background: #FCFAF7;
  border: 1px solid #ccc;
  float: left;
}
.left .top {
  height: 30px;
  padding: 10px 0px 30px 20px;
}
.left .top input {
  height: 40px;
}
.left .bott table {
  width: 100%;
  padding: 0 20px;
}
.left .bott table thead tr {
  background-color: #E9DDD8;
  height: 40px;
}
.left .bott tbody tr {
  text-align: center;
  height: 40px;
}
.right {
  width: 30%;
  height: 700px;
  background: #FCFAF7;
  float: right;
  margin: 0 10px;
}
.right table {
  margin-top: 20px;
  width: 100%;
}
.right table tr {
  background: #E9DDD8;
}
